*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url(./src/font/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "bitter";
  src: url(./src/font/Bitter-VariableFont_wght.ttf);
}

.card-container {
  display: grid;
  gap: 10px;
}
@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1001px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "inter", sans-serif;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
}

img {
  width: 150px;
  heigh: auto;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 0;
}

h1 {
  padding: 5px;
  margin-top: 5px;
  font-family: "bitter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.card-info {
  display: flex;
}

.tag {
  display: flex;
  gap: 8px;
}

h2 {
  font-size: 13px;
}

p {
  margin-left: 3px;
  color: rgb(82, 82, 82);
}

.ui-design {
  padding: 3px 10px;
  background-color: rgb(19, 194, 194);
  color: rgb(0, 122, 122);
  border-radius: 10px;
}
.ux-design {
  padding: 3px 10px;
  background-color: rgb(255, 128, 128);
  color: rgb(172, 1, 1);
  border-radius: 10px;
}

.developer {
  padding: 3px 10px;
  background-color: rgb(168, 252, 224);
  color: rgb(0, 168, 112);
  border-radius: 10px;
}

.seo {
  padding: 3px 10px;
  background-color: rgb(187, 147, 248);
  color: rgb(58, 2, 142);
  border-radius: 10px;
}

.ceo {
  padding: 3px 10px;
  background-color: rgb(213, 251, 130);
  color: rgb(97, 141, 3);
  border-radius: 10px;
}

.testing {
  padding: 3px 10px;
  background-color: rgb(249, 217, 120);
  color: rgb(166, 125, 4);
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: 53px;
  margin-top: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}
.hire {
  padding: 12px 40px;
  background-color: rgb(110, 171, 246);
  border-radius: 10px;
  color: white;
}
